/weatherman/weatherdata
/weatherman/temp.py
/weatherman/details.txt
weatherman
/weatherman/__pycache__/
/scrapping_tasks/educative/scrapy.cfg
/scrapping_tasks/educative/test.json
/scrapping_tasks/educative/test_again.json
/scrapping_tasks/educative/educative/__pycache__/
/scrapping_tasks/educative/educative/spiders/test.py
/scrapping_tasks/codedamn_courses_scraper/scrapy.cfg
/scrapping_tasks/codedamn_courses_scraper/codedamn_courses_scraper/__init__.py
/scrapping_tasks/codedamn_courses_scraper/codedamn_courses_scraper/__pycache__
/scrapping_tasks/codedamn_courses_scraper/codedamn_courses_scraper/spiders/codedamn_test.py
/scrapping_tasks/codedamn_courses_scraper/codedamn_courses_scraper/spiders/__pycache__/
/scrapping_tasks/codedamn_courses_scraper/codedamn_courses_scraper/spiders/test.py
/scrapping_tasks/codedamn_courses_scraper/codedamn_courses_scraper/spiders/credentials.py
quiz_hosting_web_app/quiz_hosting_web_app/password.py
quiz_hosting_web_app/db.sqlite3
quiz_hosting_web_app/host_authentication_system/__pycache__/
quiz_hosting_web_app/host_authentication_system/migrations/__pycache__/
quiz_hosting_web_app/quiz_attempter_management/__pycache__/
quiz_hosting_web_app/quiz_attempter_management/migrations/0001_initial.py
quiz_hosting_web_app/quiz_attempter_management/migrations/0002_initial.py
quiz_hosting_web_app/quiz_attempter_management/migrations/__pycache__/
quiz_hosting_web_app/quiz_hosting_web_app/__pycache__/
quiz_hosting_web_app/quiz_management/__pycache__/
quiz_hosting_web_app/quiz_management/migrations/0001_initial.py
quiz_hosting_web_app/quiz_management/migrations/__pycache__/
