{% extends "base.html" %}


{% block title %}
    <title>Sign Up Page</title>
{% endblock title %}


{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {% for fm in form %}
            {{ fm.label_tag }} {{ fm }} {{ fm.errors }} <br><br>
        {% endfor %}
        <input type="submit" value="Sign Up">
    </form>
    <br> 

    {% if messages %}
        {% for message in messages %}
            <p> {{ message }} </p>
        {% endfor %}
    {% endif %}

    <a href="{% url "login" %}"> Login </a> <br> <br>
    <a href="{% url "homepage" %}">HomePage</a>

{% endblock content %}
