{% extends "base.html" %}

{% block title %}
    <title>Add Question</title>
{% endblock title %}


{% block content %}

    <br> <br>
    <form action="">
        {% csrf_token %}
        {% for field in question %}
            {{ field.label_tag }} {{ field }} {{ fields.errors }} <br> <br>
        {% endfor %}
    </form>
    {% if question_form %}
        {% if questoin_type == mcq %}
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {% for question_info in  question_form %}
                    {{ question_info.label_tag }} {{ question_info }} {{ question_info.errors }} <br> <br>
            {% endfor %}
        {% endif %}
        <input type="submit" value="Add">
        </form>
    {% endif %}
    {% if messages %}
        {% for message in messages %}  
           <h2> {{ message }} </h2>
        {% endfor %}
    {% endif %}
    <br>
    <a href="{% url "quizmanagement" %}"> Quiz Management </a>  <br> <br>
    <a href="{% url "draftquizzes" %}">Draft Quizzes</a>
{% endblock content %}

