{% extends "base.html" %}


{% block title %}
    <title>Announcement</title>
{% endblock title %}


{% block content %}
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% for form_details in announcement_form  %}
            {{ form_details.label_tag }} {{ form_details }} {{ form_details.errors }} <br> <br>
        {% endfor %}
        <input type="submit" value="Announce">
    </form>

    {% if previous_announcements %}
        {% for previous_announcement in previous_announcements %}
            Announcement Number # {{ forloop.counter }} <br>
            Subject: {{ previous_announcement.subject }} <br>
            Details: {{ previous_announcement.details }}
        {% endfor %}
    {% endif %}

    <br> <br>
    
    <a href="{% url "draftquizzes" %}">Draft Quizzes</a>
    <br> <br>
    {% for message in messages %}
        {{message}}
    {% endfor %}

{% endblock content %}