{% extends "base.html" %}


{% block title %}
    <title>Attempt Quiz</title>
{% endblock title %}


{% block content %}
    {% if final_questions %}
            <form action="" method='POST'>
                {% csrf_token %}
                {% for question in final_questions %}
                    <h2>
                        {{question.question_title}}
                    </h2>
                    {% if question.type == "mcq" %}
                        <label for="option1">
                            <input type="radio" name="{{question.id}}" id="option1"  value="{{ question.answers.0.option1 }}" > {{ question.answers.0.option1 }} 
                        </label>
                        <label for="option2">
                            <input type="radio" name="{{question.id}}" id="option2" value="{{ question.answers.1.option2 }}"> {{ question.answers.1.option2 }}
                        </label>
                        <label for="option3">
                            <input type="radio" name="{{question.id}}" id="option3" value="{{ question.answers.2.option3 }}"> {{ question.answers.2.option3 }}
                        </label>
                        <label for="option4">
                            <input type="radio" name="{{question.id}}" id="option4" value="{{ question.answers.3.option4 }}"> {{ question.answers.3.option4 }}
                        </label>
                    {% elif question.type == "subjective" %}
                        <input type="text" name="{{question.id}}" id="answer">
                    {% endif %}
                {% endfor %}
                <br><br>
                <div>
                    <input type="submit" value="Submit Answers">
                </div>
            </form>
    {% else %}
    <h3>No questions Added in Quiz yet By Quiz Host</h3>
    {% comment %} <a href="{% url "marks" %}"> See Marks </a> {% endcomment %}
    {% endif %}
{% endblock content %}