{% extends "base.html" %}

{% block title %}
    <title>Quizzes</title>
    <head>
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }

            table, th, td {
                border: 1px solid black;
            }

            th, td {
                padding: 10px;
                text-align: center;
            }

            th {
                background-color: #f2f2f2;
            }
        </style>
    </head>
{% endblock title %}

{% block content %}
{% if quizzes %}
    <table>
        <thead>
            <tr>
                <th>Quiz Title</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Announcement</th>
                <th>Attempt</th>
                <th>Discussion</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in quizzes %}
                <tr>
                    <td>{{quiz.title}}</td>
                    <td>{{quiz.start_time}}</td>
                    <td>{{quiz.end_time}}</td>
                    <td><a href="{% url "announcements" quiz.id %}"> Announcements </a></td>
                    <td><a href="{% url "attemptquiz" quiz.id %}">Attempt</a> /  <a href="{% url "marks" quiz.id %}">See Marks</a></td>
                    <td><a href="{% url "discussion" quiz.id%}">Discussion</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<h3>No Quiz Yet</h3>
{% endif %}
<a href="{% url "profile" %}">Profile Page </a>
</body>
</html>

{% endblock content %}