{% extends "base.html" %}

{% block title %}
    <title>Show Discussion</title>
    <head>
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }

            table, th, td {
                border: 1px solid black;
            }

            th, td {
                padding: 10px;
                text-align: center;
            }

            th {
                background-color: #f2f2f2;
            }
        </style>
    </head>
{% endblock title %}

{% block content %}
    {% if discussions %}
        <table>
            <thead>
                <tr>
                    <th>Disucssion Subject</th>
                    <th> Disucssion Details </th>
                    <th> Disucssion Owner </th>
                    <th> See Details </th>
                </tr>
            </thead>
            <tbody>
                {% for discussion in discussions %}
                    <tr>
                        <td>{{ discussion.subject }}</td> 
                        <td>{{ discussion.details }}</td> 
                        <td>{{ discussion.quiz_attempter.username }}</td> 
                        <td> <a href="{% url "fulldiscussion" discussion.id %}"> Click Here </a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No discussions has been initiated yet</h3>
    {% endif %}
    {% if is_quiz_attempter %}
        <a href="{% url "showquizzes" %}">Show Quizzes</a> <br>
        <a href="{% url "discussion" quiz_id %}">Discussion Details</a>
    {% else %}
        <a href="{% url "draftquizzes" %}">Draft Quizzes</a>
    {% endif %}


{% endblock content %}